
*.xcuserstate

*.xcbkptlist

Module/module.xcodeproj/project.xcworkspace/xcuserdata/chrislatina.xcuserdatad/UserInterfaceState.xcuserstate

Module/module.xcodeproj/xcuserdata/chrislatina.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Module/module.xcodeproj/project.xcworkspace/xcuserdata/chrislatina.xcuserdatad/UserInterfaceState.xcuserstate

Module/module.xcodeproj/xcuserdata/chrislatina.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

*.pbxproj
